<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>InputAssistant</string>
	<key>build</key>
	<dict>
		<key>buildSystem</key>
		<string>xcode</string>
		<key>buildArgs</key>
		<array>
			<string>-project</string>
			<string>InputAssistant.xcodeproj</string>
			<string>-target</string>
			<string>libInputAssistant</string>
		</array>
		<key>outputs</key>
		<array>
			<string>libInputAssistant.a</string>
		</array>
	</dict>
	<key>dependencies</key>
	<array/>
</dict>
</plist>
